    /* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        overflow-x: hidden;
    }
    
    .index-page {
        height: calc(100vh - 16px);
    }
    
    .index-image {
        margin: 0;
        padding: 0;
        min-width: 100vw;
        background-image: url('../images/mySignPost.png');
        background-repeat: no-repeat;
        /* Do not repeat the image */
        background-size: cover;
        color: floralwhite;
        /* Resize the background image to cover the entire container */
    }
    
    .page-footer {
        background-color: aqua;
    }